
<div class="thumbnail clearfix">
  <% if @product.photo.present? %>
    <%= image_tag(@product.photo.image.medium.url, class: 'thumbnail') %>
  <% else %>
    <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
  <% end %>
  <div class="caption-full">
    <h4 class="pull-right product_price"><%= number_to_currency(@product.price) %></h4>
    <h4><%= @product.title %></h4>
    <p><%= simple_format(@product.description) %></p>
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
   
  </div> 
  <br>
</div>   

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
  $('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
}
});
</script>