<h2>All Users List</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Authority</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= User.first.id %></td>
      <td><%= User.first.email %></td>
      <td>Head Administrator</td>
      <td></td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <% if user.admin? %>
            Admin
          <% else %>
          Normal
          <% end %>
        </td>
        <td>
          <% if user.admin? %>
            <%= link_to "To Normal",  to_normal_admin_user_path(user), method: :post, class: 'btn btn-info btn-sm'  %>
          <% else %>
            <%= link_to "To Admin",  to_admin_admin_user_path(user), method: :post, class: 'btn btn-primary btn-sm'  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>