
<div class="row carousel-holder" style="margin-bottom:1em;">
  <div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img class="slide-image" src="../assets/banner1.jpg" alt="">
        </div>
        <div class="item">
          <img class="slide-image" src="../assets/banner2.jpg" alt="">
        </div>
        <div class="item">
          <img class="slide-image" src="../assets/banner3.jpg" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail main_page">
        <% if product.photo.present? %>
          <%= image_tag(product.photo.image.normal.url) %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
        <div class="caption">
          <h5><%= link_to product.title, product  %></h5>
          <h5><%= number_to_currency(product.price) %></h5>
                     
        </div>
        <div class="ratings clearfix">
          <p class="pull-right"><%= pluralize(product.comments.size, "comment") %></p>
        
            <div class="star-rating" data-score= <%= render_avg_rating(product) %> ></div>
          
        </div>
      </div>
    </div>  
  <% end %>
</div>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
   v
</script>



