<%= content_for :comment do %>
  <%= render 'comments/comment', comments: @comments %>
<% end %>

<div class="thumbnail clearfix">
  <% if @product.photo.present? %>
    <%= image_tag(@product.photo.image.medium.url, class: 'thumbnail') %>
  <% else %>
    <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
  <% end %>
  <div class="caption-full">
    <h4 class="pull-right product_price"><%= number_to_currency(@product.price) %></h4>
    <h4><%= @product.title %></h4>
    <p><%= simple_format(@product.description) %></p>
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <%= link_to("Add to cart", add_to_cart_product_path(@product), method: :post, :class => "btn btn-sm btn-default pull-right") %>
  </div> 
  <br>
</div>   
<% if user_signed_in? %>
  
  <div class="well">
    <%= simple_form_for [@product, @product.comments.build] do |f| %>
      <div class="field">
        <div id="star-rating"></div>
      </div>
      <%= f.input :comment %>
      <%= f.submit "Leave Message", class: "btn btn-default btn-sm" %>
    <% end %>
  </div>
<% end %>
<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
  $('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
}
});
</script>